<app-custom-navbar></app-custom-navbar>
<div class="fpc_box fpc_box-left">
    <div class="fpc_corner-box-left hidden-md-down">
        <div class="button fpc_page-tip-left" (click)="goHome()">
            <div class="fpc_corner-contents-left">
                <div class="fpc_corner-button-left">Go back <strong>Home</strong></div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="column justify-content-start">
            <h6>Cell: {{contactData.phoneNumber}}</h6>
            <h6>{{contactData.email}}</h6>
        </div>

        <button class="btn text-capitalize" (click)="navigate()" [style.backgroundColor]="'#283E4A'">
            <img src="https://static.licdn.com/sc/h/95o6rrc5ws6mlw6wqzy0xgj7y" alt="">
        </button>
    </div>

    <div class="fpc_corner-box hidden-md-down">
        <div class="button fpc_page-tip" (click)="goToContact()">
            <div class="fpc_corner-contents">
                <div class="fpc_corner-button">Go to<strong>Contact Me</strong></div>
            </div>
        </div>
    </div>
</div>