<app-custom-navbar></app-custom-navbar>
<div class="fpc_box fpc_box-left">
    <div class="fpc_corner-box-left hidden-md-down">
        <div class="button fpc_page-tip-left" (click)="goHome()">
            <div class="fpc_corner-contents-left">
                <div class="fpc_corner-button-left">Go back <strong>Home</strong></div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        Contact
    </div>

    <div class="fpc_corner-box hidden-md-down">
        <div class="button fpc_page-tip" (click)="goToContact()">
            <div class="fpc_corner-contents">
                <div class="fpc_corner-button">Go to<strong>Contact Me</strong></div>
            </div>
        </div>
    </div>
</div>