<app-custom-navbar></app-custom-navbar>
<div class="fpc_box">
    <div class="jumbotron">
        <div class="row justify-content-start">
            Welcome, here you will find some information about myself.
            <!-- <h1>{{resumeData.firstName}} {{resumeData.middleName}} {{resumeData.lastName}}</h1> -->
        </div>
        <div class="row justify-content-start">
            I have been a Software Engineer for 2+ years. As a software engineer i have been able to understand the customer's vision (UI/UX).
        </div>
        <div class="row justify-content-start">
            In addition, collaborating with other departments has improved my communication skills, design skills and implementation of new features that will help improve quality and productivity for the teams and departments.
        </div>
        <div class="row justify-content-start">
            From those 2 years, I have worked for 1 year as a Full stack developer which has been one of the most challenging goals.
        </div>
        <div class="row justify-content-start">
            One of the challenges that has made me grow as a developer is creating dynamic web applications.
        </div>

        <!-- <div class="row justify-content-start">
            <h5>SUMMARY OF QUALIFICATIONS</h5>
            <p>{{resumeData.selfDescription}}</p>
        </div> -->

        <div class="row justify-content-start">
            <div class="column">
                <h5>Technical Tools</h5>
                <ul>
                    <li *ngFor="let skill of resumeData.skills">
                        {{skill}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fpc_corner-box hidden-md-down">
        <div class="button fpc_page-tip" (click)="goToPortfolio()">
            <div class="fpc_corner-contents">
                <div class="fpc_corner-button">Check out my<strong>Portfolio</strong></div>
            </div>
        </div>
    </div>
</div>